<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConvertSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58682/tp8/Convert.asmx" binding="basicHttpBinding"
        bindingConfiguration="ConvertSoap" contract="ServidorWS.ConvertSoap"
        name="ConvertSoap" />
    </client>
  </system.serviceModel>
</configuration>